<template name="postSubmit">
  <form class="main form">
    <div class="form-group">
      <label for="url" class="control-label">URL</label>
      <div class="controls">
        <input type="text" name="url" id="url" value="" placeholder="Your URL" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label for="title" class="control-label">Title</label>
      <div class="controls">
        <input type="text" name="title" id="title" value="" placeholder="Name yout post" class="form-control">
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>
